@model EmployeeManagement.ViewModels.TaskVM

@{
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Create Task</h1>
    </div>

</div>
<form method="post" action="CreateTask">

    <div class="mb-3">
              
        <label for= class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description">
        <label for= class="form-label">Status</label>
        <input type="text" class="form-control" asp-for="Status">
        <label for= class="form-label">Start Date</label>
        <input type="text" class="form-control" asp-for="StartDate">
        <label for= class="form-label">Due Date</label>
        <input type="text" class="form-control" asp-for="DueDate">
        <div class="mb-3">
            @Html.DropDownListFor(m => m.ProjectId, new SelectList((ViewBag.Projects) as SelectList, "Value", "Text"), "Select Project")
            @Html.DropDownListFor(n => n.PersonId, new SelectList((ViewBag.Persons) as SelectList, "Value", "Text"), "Select Person")
        </div>
         
   @*      <div class="mb-3">
            @Html.DropDownListFor(m => m.ProjectId, (SelectList)ViewBag.Projects, "Select Project", new { @class = "form-control" })
            @Html.DropDownListFor(m => m.PersonId, (SelectList)ViewBag.Persons, "Select Person", new { @class = "form-control" })
        </div> *@
    </div>
 

    <button type="submit" class="btn btn-primary">Create</button>
</form>