@model EmployeeManagement.ViewModels.ProjectVM
@{
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Update/Delete Project</h1>
    </div>

</div>
<form method="post" action="UpdateProject">

    <div class="mb-3">
        <label for= class="form-label" hidden>Id</label>
        <input type="text" class="form-control" asp-for="Id" hidden>
        <label for= class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
        <label for= class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description">
        <label for= class="form-label">Start Date</label>
        <input type="text" class="form-control" asp-for="StartDate">
        <label for= class="form-label">End Date</label>
        <input type="text" class="form-control" asp-for="EndDate">
        <label for= class="form-label">Status</label>
        <input type="text" class="form-control" asp-for="Status">
        <label for= class="form-label">Manager Name</label>
        <input type="text" class="form-control" asp-for="ManagerName">
        <label for= class="form-label">Client Name</label>
        <input type="text" class="form-control" asp-for="ClientName">
        <label for= class="form-label">Client Email</label>
        <input type="text" class="form-control" asp-for="ClientEmail">
        <label for= class="form-label">Client Adress</label>
        <input type="text" class="form-control" asp-for="ClientAdress">
        <label for= class="form-label">Country</label>
        <input type="text" class="form-control" asp-for="Country">
        <label for= class="form-label">Created At</label>
        <input type="text" class="form-control" asp-for="CreatedAt" readonly>
        <label for= class="form-label">Updated At</label>
        <input type="text" class="form-control" asp-for="UpdatedAt">
        <label for= class="form-label">Last Updated</label>
        <input type="text" class="form-control" asp-for="LastUpdatedAt">
        <label for= class="form-label">Department Name</label>
        <input type="text" class="form-control" asp-for="DepartmentN" readonly>


        <button type="submit" class="btn btn-primary">Update</button>
        <button type="submit" class="btn btn-danger" asp-action="DeleteProject" asp-controller="Project">Delete</button>
</form>