@model EmployeeManagement.ViewModels.DepartmentVM
@{
}
<form method="post" action="UpdateDepartment">
    <div class="mb-3">
        <label for= class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
        <label for=class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
        
    </div>
    
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="submit" class="btn btn-danger" asp-action="DeleteDepartment" asp-controller="Department">Delete</button>
</form>