@model EmployeeManagement.ViewModels.PersonVM


@{
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1> Add New Person</h1>
    </div>

</div>
<form method="post" action="AddPerson">
   
    <div class="mb-3">
        <label for= class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName">
        <label for= class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName">
        <label for= class="form-label">Adress</label>
        <input type="text" class="form-control" asp-for="Address">
        <label for= class="form-label">Phone Number</label>
        <input type="text" class="form-control" asp-for="Phone">
        <label for= class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email">
        <label for= class="form-label">Designation</label>
        <input type="text" class="form-control" asp-for="Designation">
        <label for= class="form-label">Sallary</label>
        <input type="text" class="form-control" asp-for="Sallary">
        <label for= class="form-label">Start Date</label>
        <input type="text" class="form-control" asp-for="StartDate">
        <label for= class="form-label">End Date</label>
        <input type="text" class="form-control" asp-for="EndDate">
   
        <select class="form-select" asp-for="Id" asp-items=" ViewBag.PersonType">
            <option selected>Select Person Type</option>
         </select>
        <div class="mb-1">
            @Html.DropDownListFor(m => m.DepartmentId, new SelectList((ViewBag.Departments) as SelectList, "Value", "Text"), "Select Department")
        </div>
          
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>